*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
     margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 20px;
    font-size: 2em;
    margin-top: 5%;
}

#card {
    height: 400px;
    text-align: center;
    max-width: 800px;
    margin:0 auto; /* Google told me that this is a trick to center divs, VERY good to know */
    background-color: rgb(5, 0, 46);
}

#card-header {
    width: 100%;
}

#high-score {
    float: left;
    top: 0;
    padding: 10px;
}
#timer-name {
    float: right;
    top: 0;
    padding: 10px 10px 10px 10px;
}
button{
    margin:0 auto;
    padding: 5px;
    width: 200px;
}

#quiz{
    width: 500px;
    height: 280px;
    margin:0 auto;
    padding: 60px;
}
form div{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin:0 auto;
}
form {
    margin-top: 5%;
    display: none;
}

form p {
    font-size: 1.2em;
    margin-bottom: 0;
}

form button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio {
    position: relative;
    top: 18px;
    left: 42px;
}
#high-score-form{
    
    left: 0;
}
#high-score{
    margin:10px;
}